= form_for session, url: sessions_path, html: { class: 'form-horizontal' } do |f|
  .form-group{ class: session.errors.messages[:name] && "has-error"}
    = f.label :name, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :name, class: 'form-control'
      - if session.errors.messages[:name]
        .has-error
          = session.errors.messages[:name][0]

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit "ログイン", class: 'btn btn-primary'
