.panel.panel-default
  %h1
    ダッシュボード
  - if @current_user.try(:role) == 'fp_user'
    .row
      .col-md-12
        = link_to "新しく稼働可能日を設定する", new_working_day_path, class: 'btn btn-primary'
  - if @current_user
    = week_calendar events: @working_days, number_of_weeks: 1 do |date, working_days|
      = date

      %table.table-bordered
        %tr
          %th
            時間帯
          %th
            プランナー
          %th

        - working_days.each do |working_day|
          %tr
            %td
              = datetime_to_hm working_day.start_time
            %td
              = working_day.user.name
            %td
              - if working_day.try(:booking).try(:user_id) == @current_user.id
                あなたが予約しています
              - elsif working_day.booking
                - case @current_user.role
                - when 'user'
                  予約済
                - when 'fp_user'
                  - if working_day.booking
                    = working_day.booking.user.name
                  - else
                    予約されていません
              - else
                - case @current_user.role
                - when 'user' then
                  = link_to "予約する", working_day_bookings_path(working_day), method: :post ,class: 'btn btn-primary'
                - when 'fp_user' then
                  予約されていません
  - else
    = link_to "ログイン", new_sessions_path
    もしくは
    = link_to "サインイン", new_user_path
    を行ってください。
