.panel.panel-default
  %h1
    予約日
  .row
    .col-md-12
      - if @bookings
        %ul.list-group
          - @bookings.each do |booking|
            %li.list-group-item
              = datetime_to_ymdhm(booking.working_day.start_time)
              = booking.working_day.user.name
              = link_to "削除", working_day_booking_path(booking.working_day, booking), method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除しますか？' }
      - else
        予約無し
  .row
    .col-md-12
      = paginate @bookings
