- if user.errors.messages.size > 0
  .alert.alert-danger
    ユーザーが登録できませんでした

= form_for user, html: { class: 'form-horizontal' } do |f|
  .form-group{ class: user.errors.messages[:name] && "has-error"}
    = f.label :name, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :name, class: 'form-control'
      - if user.errors.messages[:name]
        .has-error
          = user.errors.messages[:name][0]
  .form-group{ class: user.errors.messages[:role] && "has-error" }
    = f.label :role, class: 'control-label col-md-2'
    .col-md-10
      = f.label :role, value: 'user', class: 'radio-inline' do
        = f.radio_button :role, 'user'
        ユーザー
      = f.label :role, value: 'fp_user', class: 'radio-inline' do
        = f.radio_button :role, 'fp_user'
        ファイナンシャルプランナー
      - if user.errors.messages[:role]
        .has-error
          = user.errors.messages[:role][0]
  .form-group
    .col-md-10.col-md-offset-2
      = f.submit "登録", class: 'btn btn-primary'
