.row
  .col-md-6.col-md-offset-3
    .row
      .col-md-12
        = @user.name
        さん。ご登録ありがとうございます！
    .row
      .col-md-12
        = link_to "ダッシュボードへ遷移する", root_path, class: "btn btn-primary"
