.row
  .col-md-6.col-md-offset-3
    %table.table
      %tr
        %th
          名前
        %td
          = @current_user.name
      %tr
        %th
          役割
        %td
          = @current_user.role
  .col-md-6.col-md-offset-3
    = link_to '退会する', user_path, method: :delete, class: 'btn btn-danger', data: { confirm: '本当に退会しますか？' }
