= form_for working_day, html: { class: 'form-horizontal' } do |f|
  .form-group{ class: working_day.errors.messages[:start_time] && "has-error"}
    = f.label :start_time, class: 'control-label col-md-2'
    .col-md-10
      = f.datetime_select :start_time, use_month_numbers: true, minute_step: 30, class: 'form-control'
      - if working_day.errors.messages[:start_time]
        .has-error
          = working_day.errors.messages[:start_time][0]

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit "登録", class: 'btn btn-primary'
