.panel.panel-default.col-md-12
  %h1
    稼働可能日
  .row
    .col-md-12
      = link_to "新しく稼働可能日を設定する", new_working_day_path, class: 'btn btn-primary'
  .row
    .col-md-12
      - if @working_days
        %ul.list-group
          - @working_days.each do |working_day|
            %li.list-group-item
              = datetime_to_ymdhm(working_day.start_time)
              = link_to "削除", working_day_path(working_day), method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか？' }
      - else
        予約無し
  .row
    .col-md-12
      = paginate @working_days
