%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: root_path} FP Reservation
    %ul.nav.navbar-nav.navbar-right
      - if @current_user
        %li.dropdown
          %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
            = @current_user.name
            %span.caret
          %ul.dropdown-menu
            %li
              - case @current_user.try(:role)
              - when 'user' then
                = link_to "予約一覧", bookings_path
              - when 'fp_user' then
                = link_to "稼働可能日一覧", working_days_path
            %li
              = link_to 'ユーザ設定', user_path
            %li
              = link_to 'ログアウトする', sessions_path, method: :delete
      - else
        %li.dropdown
          %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
            新規登録/ログイン
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to 'ログインする', new_sessions_path
            %li
              = link_to '新規登録する', new_user_path
