!!!
%html{lang: "ja"}
  %head
    %title FpReservation
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'layouts/header'
    - flash.each do |key, value|
      = content_tag(:div, value, class: "alert alert-#{key}")
    .container-fluid
      .row
        .col-md-12
          = yield
